/* .ant-slider-rail{
    color: #fff;
    background-color: #fff;
    border-radius: 0px;
    height: 64px;
}

.se .ant-slider-rail{
    background-color: transparent;
}

.se:hover .ant-slider-rail{
    background-color: transparent;
}

.ant-slider-track{
    height: 64px;
    z-index: 300;
}

.ant-slider-handle{
 
    cursor: e-resize;
    background-color: transparent;
    border: none;
    border-radius: none !important;
    height: 64px;
}

.ant-slider-dot{
    background-color: #000;
    color: #000;
    border-color: #000;
    border-width: 0px;
    width: 1px;
    border-radius: 0;
    height: 64px;
    top:0;
    margin: 0 !important;
    z-index: 200;
}

.ant-slider-mark-text{
    display: none;
} */

/* Second */
.se{
    
    position: absolute;
    left: 0;
    right: 0;
    z-index: 500;
}
/* .se .ant-slider-rail{
    background-color: transparent;
    display: none;
}

.se:hover .ant-slider-rail{
    background-color: transparent;
}

.se .ant-slider-dot, .th .ant-slider-dot{
    visibility: hidden;
} */

/* THird */
.th{
    position: absolute;
    z-index: 700;
    left: 0;
    right: 0;
}
/* 
.th .ant-slider-rail{
    background-color: red;
    height: 0px;
    display: none;
    visibility: hidden;
}

.th .ant-slider-track{
    background-color: teal !important;
    height: 32px;
}

.th:hover .ant-slider-rail{
    height: 32px;
    background-color: transparent;
}

.th .ant-slider-handle{
    height: 32px    ; 
}*/